*{
   margin: 0; 
}
.slider{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    
}

.my-slider{
   height: 100vh;
   display: flex;
    width: 80px;
}

.slide{
  height: 100vh;
  width: 40px;
    
}

.slide-img{
    
    height: 500px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slide-img:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.753) inset;
}

.slide-img a{
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
}

.slide-img:hover a{
   opacity: 1;
   transform: scale(1); 
}

.img-1{
    background-image: url(/image/background/slide1.jpg.webp);
}
.img-2{
    background-image: url(/image/background/slide2.jpg.webp);
    
}
.img-3{
    background-image: url(/image/background/slide3.jpg.webp);
    
}
.img-4{
    background-image: url(/image/background/slide4.jpg.webp);
    
}
.img-5{
    background-image: url(/image/background/slide1.jpg.webp);
    
}


/* @media (max-width:1600px) {
    .container{
        width: 100%;
    }
} */

/* .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010102;
    transition: opacity 0.75s visibility hidden;
}
.loader::after{
    content: "";
    height: 75px;
    width: 75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: loading 0.75s ease infinite;
}

/* .loader--hidden{
    opacity: 0;
    visibility: hidden;
} */

/* @keyframes loading { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
 }  */


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#myDiv {
    display: none;
    text-align: center;
}